@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: 'norsebold';
    src: url('../fonts/norse-bold-webfont.woff2') format('woff2'),
         url('../fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --white: #fff;
    --almost-white: rgb(252, 248, 248); 
    --alice-blue: #D6E4E8ff;
    --beau-blue: #C6D1DDff;
    --cadet-grey: #8A96A2ff;
    --slate-gray: #647587ff;
    --black-coral: #465566ff;
    --charcoal: #3C4858ff;
    --charleston-green: #20252Aff;
    --crimson: #DC143C;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    color: var(--charleston-green);
}

body {
    display: flex;
    min-height: 100vh;
}

/* Left side */

figure {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 40vw;
    /* background: no-repeat url(../images/wu-yi-V8RSd8SDwow-unsplash.jpg); */
    background: url(../images/einar-ingi-sigmundsson-ip03hpIb7SM-unsplash\ \(2\).jpg);
    background-size: cover;
    background-position: center;
    image-rendering: crisp-edges; 
}

.odin-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 150px;
    width: 100%;
    margin-top: 14vh;
    background-color: var(--charleston-green);
    opacity: 0.7;
    /* color: #fff; */
}

h1 {
    font-family: norsebold;
    font-size: 80px;
    color: var(--alice-blue);
}

.odin-logo {
    height: 85%;
}

footer {
    margin-top: auto;
    margin-bottom: 10px;
    text-align: center;
}

small {
    color: var(--alice-blue);
    font-size: .7em;
}

small > a {
    color: var(--alice-blue);
}

/* Right side */

main {
    max-width: 60vw;
    margin: 15vh 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-box {
    background-color: #fff;
    margin: 0 -5vh;
    padding: 3vh 5vh 1vh;
    margin-bottom: 2rem;
    box-shadow: 0 1px 16px var(--cadet-grey);
}

form h2 {
    color: var(--black-coral);
}


ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

input, button, label {
    display: block;
    font-family: inherit;
    font-size: 100%;
}

label {
    text-transform: uppercase;
    font-size: .8em;
    color: var(--black-coral);
}

input {
    /* height: 26px; */
    padding: 2px 10px;
    border: 1px solid rgba(0,0,0, 0.2);
    border-radius: 3px;
    font-size: 0.9;
    width: 100%;
}

input:hover {
    box-shadow: 0 0 4px var(--beau-blue);
}

input:focus {
    outline: 1px solid var(--cadet-grey);
}

/* input:focus:invalid:not(:placeholder-shown) {
    outline: 1px solid var(--crimson);
} */

input + span { 
    position: relative;
    display: block;
    height: 0;
    transition: height .3s ease-in-out;
}

input:valid:not(:placeholder-shown) + span:after {
    content: "";
    background-image: url(../images/check_circle_wght700.svg);
    background-size:cover;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -25px;
    right: 6px;
    fill: white;
}

input:invalid:not(:placeholder-shown, :focus) {
    outline: none;
    border: 1px solid var(--crimson);
}

.invalid {
    border: 1px solid var(--crimson);
}

.invalid:focus {
    outline: 1px solid var(--crimson);
}

input[type="email"].invalid + span,
input#pwd.invalid + span,
input#pwd-confirm.different + span {
    height: 10px;
    transition: height .3s ease-in-out;
}

input[type="email"].invalid + span::before,
input#pwd.invalid + span::before,
input#pwd-confirm.different + span::before {
    position: absolute;
    font-size: .7em;
    color: #DC143C;
}

input#pwd.invalid + span::before {
    content: "Your password should contain at least 8 characters, including 1 capital letter, 1 number and 1 special character";
}

input#pwd-confirm.different + span::before {
    content: "Provided passwords do not match";
}

input[type="email"].invalid + span::before {
    content: "Required format: username@domain";
}

input[type="tel"] + span::before {
    content: "optional";
    display: block;
    background-color: var(--cadet-grey);
    color: var(--white);
    position: absolute;
    top: -48px;
    right: 1px;
    padding: 1px 6px;
    font-size: .6em;
    font-weight: bold;
}


ul {
    display: flex;
    column-gap: 40px;
    flex-wrap: wrap;
    margin: 1.5rem 0;
}

li {
    /* margin-right: 60px; */
    width: 35%;
    margin-bottom: 1em;
}

.italic {
    font-style: italic;
    margin-right: .2em;
}

.bold {
    font-weight: bold;
    color: var(--black-coral);
    cursor: pointer;
}

h2 {
    width: 75%;
}

button {
    background-color: var(--black-coral);
    color: var(--white);
    padding: 6px 20px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
}

